@font-face {
  font-family: neue haas;
  src: url(./NeueHaasDisplayMediu.ttf);
}

@font-face {
  font-family: neue haas;
  src: url(./NeueHaasDisplayLight.ttf);
  font-weight: 100;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: neue haas;
}

html,
body {
  height: 100%;
  width: 100%;
}

#page1 {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  position: relative;
  padding: 0 2vw;
}

nav {
  padding: 2vw 2vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav-part-2 {
  display: flex;
  align-items: center;
  gap: 1vw;
}

#nav-part-2 h4 {
  padding: 10px 20px;
  border: 1px solid rgba(132, 132, 132, 0.626);
  font-weight: 500;
  border-radius: 50px;
  overflow: hidden;
  transition: all ease 0.4s;
  position: relative;
  color: rgba(5, 5, 5, 0.919);
  font-size: 18px;
}

#nav-part-2 h4::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all ease 0.3s;
}

#nav-part-2 h4:hover::after {
  bottom: 0;
  border-radius: 0;
}

#nav-part-2 h4 a {
  text-decoration: none;
  color: black;
  z-index: 9;
  position: relative;
}

#nav-part-2 h4:hover a {
  color: white;
}

#center {
  width: 100%;
  height: 65vh;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid #00000c;
  padding-bottom: 2.5vw;
}

#center h1 {
  font-size: 10vw;
  line-height: 8vw;
  text-align: right;
}

#left {
  width: 25vw;
  font-size: 1.8vw;
  line-height: 2vw;
  text-align: left;
}

#page1 video {
  width: 100%;
  margin-top: 4vw;
  border-radius: 20px;
  position: relative;
}

#hero-shape {
  position: absolute;
  height: 36vw;
  width: 46vw;
  right: 0;
  top: 65vh;
}

#hero1 {
  height: 100%;
  background-color: #ff4500;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  position: absolute;
  width: 100%;
  filter: blur(20px);
}

#hero2 {
  height: 100%;
  background: linear-gradient(#ff4500, rgb(255, 68, 0));
  border-radius: 50%;
  position: absolute;
  width: 100%;
  filter: blur(20px);
  animation: anime2;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-direction: alternate;
  animation-timing-function: linear;
}

#hero3 {
  height: 30vw;
  background: linear-gradient(#ff4500, #fe3f0a);
  border-radius: 50%;
  position: absolute;
  width: 30vw;
  filter: blur(25px);
  animation: anime1;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-timing-function: linear;
}

#moving-text {
  white-space: nowrap;
  overflow-x: auto;
}

#moving-text::-webkit-scrollbar {
  display: none;
}
.con {
  white-space: nowrap;
  display: inline-block;
  animation: move;
  animation-duration: 9s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#page2 {
  min-height: 100vh;
  padding: 8vw 0;
  width: 100%;
  position: relative;
}

#moving-text h1 {
  font-size: 9vw;
  display: inline-block;
}

#gola {
  height: 70px;
  margin: 1vw 2vw;
  width: 70px;
  border-radius: 50%;
  display: inline-block;
  background-color: #fe3f0a;
}

#page2-bottom {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 4.5vw;
  z-index: 9;
  position: relative;
  justify-content: space-between;
}

#page2-bottom h1 {
  font-size: 4vw;
  width: 60%;
  line-height: 4vw;
}

#bottom-part-2 {
  width: 25%;
}

#bottom-part-2 img {
  width: 100%;
  border-radius: 15px;
}

#bottom-part-2 p {
  font-weight: 100;
  margin-top: 2vw;
  font-size: 1vw;
}

#page2 #gooye {
  background: linear-gradient(to top right, #fe3f0a, #f68c1a);
  border-radius: 50%;
  height: 30vw;
  width: 30vw;
  filter: blur(20px);
  position: absolute;
  top: 58%;
  left: 25%;
  animation: gooye;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 4s;
  animation-direction: alternate;
}

#page3 {
  width: 100%;
  min-height: 100vh;
  padding: 4vw 0;
}

.elem {
  height: 150px;
  width: 100%;
  border-bottom: 1px solid #939090;
  display: flex;
  align-items: center;
  padding: 0 2vw;
  position: relative;
  overflow: hidden;
}

#fixed-image {
  height: 30vw;
  width: 24vw;
  position: fixed;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  z-index: 99;
  display: none;
  left: 50%;
  top: 25%;
}

.elem h2 {
  font-size: 3vw;
  z-index: 9;
  position: relative;
}

.elem .overlay {
  height: 100%;
  position: absolute;
  transition: all ease 0.2s;
  width: 100%;
  left: 0;
  top: -100%;
  background-color: orange;
}

.elem:hover .overlay {
  top: 0;
}
@keyframes gooye {
  from {
    transform: translate(10%, -10%) skew(0);
  }

  to {
    transform: translate(-10%, 10%) skew(-20deg);
  }
}

@keyframes anime1 {
  from {
    transform: translate(55%, -3%);
  }

  to {
    transform: translate(0%, 10%);
  }
}

@keyframes anime2 {
  from {
    transfrom: translate(5%, -5%);
  }

  to {
    transform: translate(-20%, 30%);
  }
}

@keyframes move {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
